//mixin para reutilizar codigo como funcion 
@use 'variables' as var;

//mixin para que la pagina sea reponsive
@mixin telefono{
    @media(min-width:var.$telefono){
        @content;        
    }
}

@mixin tablet{
    @media(min-width: var.$tablet){
        @content;        
    }
}

@mixin desktop{
    @media(min-width: var.$desktop){
        @content;        
    }
}

@mixin desktopXL{
    @media(min-width: var.$desktopXL){
        @content;        
    }
}

@mixin grid ($columnas,$separacion){
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $separacion;

}

@mixin resetear-lista {
    margin: 0;
    padding: 0;
    list-style: none;
    
}